<style>
    .container.main {
        width: 100%
    }
</style>

<div ng-cloak>
    <div ng-show="lastImportLog.importFileName">
        <a ng-show="lastImportLog" href="/uploads/{{lastImportLog.importFileName}}" target="_blank">Загрузить исходный файл в формате XLS ({{lastImportLog.date | date:'dd.MM.yyyy'}})</a>&nbsp;
    </div>
    <h1>Отчет по картам с ошибкой в ID</h1>

    <p>
        Статус печати:
        <select ng-model="printStatus" ng-change="applyPrintStatusFilter()"
                ng-options="printStatus for printStatus in printStatuses">
            <option value="">Показать все</option>
        </select>
    </p>

    <div ng-hide="loaded" ng-cloak>
        <h4>Loading&hellip;</h4>
    </div>

    <p ng-hide="pagination.totalCount == 0" class="text-left">
        Найдено карт: <b>{{pagination.totalCount}}</b>
    </p>

    <table class="table table-bordered" ng-show="loaded && pagination.totalCount > 0" ng-cloak>
        <thead>
        <tr>
            <th>№</th>
            <th>Имя файла</th>
            <th>ПС</th>
            <th>PAN</th>
            <th>ID</th>
            <th>Код ОСБ</th>
            <th>ФИО</th>
            <th>Наименование ОСБ</th>
            <th>Тербанк</th>
            <th>Статус печати</th>
            <th>Статус отгрузки</th>
            <th>Исходный ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="card in cards">
            <td>{{ card.number }}</td>
            <td>{{ card.file }}</td>
            <td>{{ card.ps }}</td>
            <td class="text-right">{{ card.pan | pan }}</td>
            <td>{{ card.id }}</td>
            <td>{{ card.code }}</td>
            <td>{{ card.fio }}</td>
            <td>{{ card.osb }}</td>
            <td class="text-right">{{ card.terbank }}</td>
            <td>{{ card.printStatus }}</td>
            <td>{{ card.shippingStatus }}</td>
            <td>{{ card.sourceId }}</td>
        </tr>
        </tbody>
    </table>

    <div ng-show="pagination.totalCount == 0">
        <h4>Ни одной карты не найдено</h4>
    </div>

    <div ng-show="pagination.showPaging() && pagination.totalCount > 0" class="align-center">
        <pagination total-items="pagination.totalCount" max-size="pagination.maxPageCount"
                    items-per-page="pagination.filter.perPage" page="pagination.filter.page"
                    on-select-page="applyPagination(page)"
                    class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>

</div>
