<style>
    .container.main {
        width: 100%
    }
</style>

<div ng-cloak>
<!--    <div>
        Обновлено: <span ng-show="lastImportLog">{{lastImportLog.date | date:'dd.MM.yyyy'}}</span>
    </div>-->

    <h1>Поиск по базе</h1>

    <p>
        Введите ФИО, ID или номер карты:
        <input type="text" ng-model="search" ng-enter="applySearchFilter()"/>
        <button ng-click="applySearchFilter()">Найти</button>
    </p>

    <div ng-show="loaded && pagination.totalCount > 0" class="text-left">
        <ul style="padding-left: 15px">
            <li>
                В поле Статус отгрузки указывается внутренний номер заказа на изготовление карт и дата его отправки
                курьерской службой в адрес Тербанка СБРФ. Нормативный срок доставки – 1-2 рабочих дня после указанной
                даты.
            </li>
            <li>
                Статус Дубль ID, отменен в поле Статус печати означает, что поступил персофайл с двумя и более
                одинаковыми ID . Технологически в этом случае может быть изготовлена только карта по первому
                встреченному ID , остальные карты из файла с этим ID помечаются соответствующим статусом.
                Повторяющиеся ID в разных файлах и/или за разные даты изготавливаются в обычном порядке.
            </li>
        </ul>
    </div>

    <div ng-show="loaded && pagination.totalCount == 0" class="text-left">
        <ul>
            <li>
                <strong>0 результатов</strong> означает, что персофайлов на изготовление карт с искомым PAN,
                RN ID или ФИО к нам на данный момент еще не поступало.
            </li>
            <li>
                Запрос не может быть пустым или содержать менее 4-х символов
            </li>
        </ul>
    </div>

    <div ng-hide="!loading || loaded" ng-cloak>
        <h4>Loading&hellip;</h4>
    </div>

    <table class="table table-bordered" ng-show="loaded && pagination.totalCount > 0" ng-cloak>
        <thead>
        <tr>
            <th>ПС</th>
            <th>PAN</th>
            <th>ID</th>
            <th>Код ОСБ</th>
            <th>ФИО</th>
            <th>Наименование ОСБ</th>
            <th>Тербанк</th>
            <th>Статус печати</th>
            <th>Статус отгрузки</th>
            <th>Карты регионы</th>
            <th>Москва и<br>ПИН-конверты регионы</th>
            <th>Исходный ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="card in cards">
            <td>{{ card.ps }}</td>
            <td class="text-right">{{ card.pan | pan }}</td>
            <td>{{ card.id }}</td>
            <td>{{ card.code }}</td>
            <td>{{ card.fio }}</td>
            <td>{{ card.osb }}</td>
            <td>{{ card.terbankAddress }} (Код ЦЭ: {{ card.terbank }})</td>
            <td>{{ card.printStatus }}</td>
            <td>{{ card.shippingStatus }}</td>
            <td>{{ card.shippingCardDateString }}</td>
            <td>{{ card.shippingEnvelopeDateString }}</td>
            <td>{{ card.sourceId }}</td>
        </tr>
        </tbody>
    </table>

    <div ng-show="loaded && pagination.totalCount == 0">
        <br/>
        <h4>Ничего не найдено</h4>
    </div>

    <div ng-show="pagination.showPaging()" class="align-center">
        <pagination total-items="pagination.totalCount" max-size="pagination.maxPageCount"
                    items-per-page="pagination.filter.perPage" page="pagination.filter.page"
                    on-select-page="applyPagination(page)"
                    class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>

</div>