<b>
    {{test}}
</b>
<div ng-cloak ng-show="loaded">
    <h1>Импорт БД</h1>

    <div id="uploadBlock" ng-show="loaded">
        <div class="text-center">
            <input type="file" class="" id="uploader" style="display:inline" ng-hide="uploading || success || error" />
        </div>
        <span ng-show="uploading && !success && !error"><b>Идет обработка данных, пожалуйста дождитесь окончания загрузки </b>    <img src="../../img/loader.gif" width="20px" /></span>

        <div ng-show="fileUploaded">
            <strong>1. файл загружен</strong>
        </div>
        <div ng-show="fileUploaded && !success">
            <strong>2. {{parseInfo}}</strong>
        </div>
        <div ng-show="success">
            <strong>2. файл обработан</strong>
        </div>
        <div ng-show="success">
            <strong>3. запись в бд завершена</strong>
        </div>
        <div ng-show="error" class="alert alert-danger">
            <strong>{{error}}</strong>
        </div>
    </div>

    <!--div id="uploadBlock" class="text-center" ng-show="loaded">
        <div ng-hide="uploading || uploadMessage">
            <a class='btn btn-primary' href='javascript:;' style="position:relative;">
                Выберите файл
                <input type="file" id="uploader" size="40" onchange='$("#upload-file-info").html($(this).val());'>
            </a>
            &nbsp;
            <span class='label label-info' id="upload-file-info"></span>
        </div>
        <span ng-show="uploading && !uploadMessage"><b>Подождите идет импорт данных</b>    <img src="../../img/loader.gif" width="20px" /></span>
        <span ng-show="uploadMessage">{{uploadMessage}}</span>
    </div-->

    <h3>Предыдущие загрузки</h3>

    <div ng-hide="loaded" ng-cloak>
        <center>
            <b>Loading&nbsp;</b><img src="../../img/loader.gif" width="20px" /></span>
        </center>
    </div>

    <table class="table table-bordered" ng-show="loaded && pagination.totalCount > 0" ng-cloak>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Реестр карт</th>
            <th>Отгрузки</th>
            <th>Тербанки</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="log in importLog">
            <td>{{ log.date | date:'dd.MM.yyyy HH:mm' }}</td>
            <td class="text-right">{{ log.registryCount }}</td>
            <td class="text-right">{{ log.shippingCount }}</td>
            <td class="text-right">{{ log.terbankCount }}</td>
        </tr>
        </tbody>
    </table>

    <div ng-show="pagination.totalCount == 0 && loaded">
        <h4>No items found</h4>
    </div>

    <div ng-show="pagination.showPaging()" class="align-center">
        <pagination total-items="pagination.totalCount" max-size="pagination.maxPageCount"
                    items-per-page="pagination.filter.perPage" page="pagination.filter.page"
                    on-select-page="selectPage(page)"
                    class="pagination-sm" boundary-links="true" rotate="false"></pagination>
    </div>
</div>
